body {
    margin: 0;
    padding: 0;
    background-image: url(img/fundo.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
#container {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: auto; 
}
img{
    border-radius: 100px;
    display: flex;
    padding-top: 10px;
    margin: auto;
}
.nome {
    font-family: sans-serif;
    color: black;
    text-align: center;    
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 20px;
    color: #a88b74
}
p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #a88b74;
}
.itens {
    width: 500px;
    text-align: center;
    margin: auto;
    
}
.itens ul{
    list-style: none;
    padding: 4px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.itens li {
    border-radius: 10px;
    border: 1px solid black;
    padding: 3px;
}

.itens a{
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    color: black; 
    padding-left: 20px; 
    padding-right: 20px;
}
.itens li:hover {
    background-color: #118eae;
    transition: 1s;
}
.itens #a1{
    background-color: #118eae;

}
.itens  #a1:hover{
    background-color: white;
}

#rodape {
    margin: auto;
    text-align: center;
    color: #a88b74;
}
#rodape ul {
    margin-left: -35px;
}

@media screen and (max-width: 500px){
img {
    border-radius: 100px;
    margin-left: 10px;
}
h1 {
   font-size: 24px; 
   margin-top: -20%;
   margin-left: 25%;
}
h2 {
    font-size: 15px;
    margin-top: -3%;
    margin-left: 20%;
}
.itens {
    margin-top: 80px;
    width: 100vw;
}

    
}